*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
}
.container
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
}
.container .box
{
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0002);
}
.container .box img
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
}
.container:hover > :not(:hover)
{
    margin: 0 -20px;
    filter: drop-shadow( 0 0 25px #000) drop-shadow( 0 0 45px #000);
    transform: perspective(10000px) rotateY(45deg) scale(0.95);
}
.container .box:hover ~ .box
{
    transform: perspective(10000px) rotateY(-45deg) scale(0.95);
}
.container .box:hover 
{
    transform: perspective(10000px) rotateY(0) scale(1.5);
    z-index: 1000;
}
